@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply scroll-smooth;
    }
    body{
        font-family: "Source Sans Pro", sans-serif;
        @apply text-base leading-7 font-normal text-neutrals overflow-x-hidden scroll-smooth;
    }
    a{
        @apply hover:no-underline hover:text-primary duration-300;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Poppins", sans-serif;
        @apply text-neutrals-darker font-medium;
    }
    h3{
        @apply text-[32px] leading-[42px];
    }
    h5{
        @apply text-lg leading-7;
    }
    h6{
        @apply text-base leading-[25px];
    }
    header{
        @apply bg-neutrals-darkest desktop:bg-opacity-0 relative desktop:absolute top-0 left-0 w-full z-10 transition-transform ease-in-out duration-500;
    }
    footer{
        @apply bg-neutrals-darkest;
    }
    input{
        @apply appearance-none py-1.5 pl-3 focus:py-1.5 focus:pl-3 focus:outline-none bg-neutrals-darkest border-[1px] border-primary focus:border-gray-border placeholder:text-sm placeholder:text-gray-lighter;
    }
    input.mgi_search__bar{
        @apply bg-gray-lightest w-full h-8 rounded-full placeholder:text-neutrals-darkest placeholder:text-opacity-60;
    }
}
@layer components{
    .mgi_container, .mgi_banner__item__content{
        @apply container mx-auto px-[15px];
    }
    
    /* Nav menu */
    .mgi_nav{
        @apply flex text-xs font-semibold uppercase text-[#fff] relative;
        font-family: "Poppins", sans-serif;
    }
    .mgi_nav--desktop{
        @apply flex flex-row;
    }
    .mgi_nav__toggle{
        @apply desktop:hidden;
    }
    .mgi_nav__function__button.-icon li a{
        @apply h-[60px] leading-[60px] desktop:h-20 desktop:leading-[80px] px-[15px] transition-transform ease-in-out duration-500;

    }
    .mgi_nav__logo{
        @apply px-[15px];
    }
    .mgi_nav__logo .dark{
        @apply hidden;
    }
    .mgi_nav__menu{
        @apply hidden desktop:flex desktop:flex-row;
    }
    .mgi_nav__menu__list{
        @apply relative;
    }
    nav a.mgi_nav__menu__list--link{
        @apply block h-[60px] desktop:h-20 leading-[60px] desktop:leading-[80px] ;
    }
    a.mgi_nav__menu__list--link{
        @apply px-[15px];
    }
    /* NavLeft */
    #navLeft.-openmenu + main{
        @apply translate-x-[80%] desktop:translate-x-0 transition-all ease-out duration-300;
    }
    #navLeft.-openmenu ~ footer{
        @apply translate-x-[80%] desktop:translate-x-0 transition-all ease-out duration-300;
    }
    #navLeft{
        @apply absolute top-0 left-0 w-0 transition-all ease-out duration-300;
    }
    #navLeft.-openmenu{
        @apply desktop:hidden px-2.5 w-[81%] h-screen bg-neutrals-darker fixed top-0 left-0 z-30 transition-all ease-out duration-300;
    }
    .mgi_navleft__menu{
        @apply text-[13px] text-gray-lightest uppercase mt-1;
    }
    .mgi_navleft__menu .mgi_navleft__menu__list{
        @apply border-b-[1px] border-neutrals-darkest;
    }
    
    .mgi_navleft__menu__list--link{
        @apply block h-10 leading-10;
    }
    .mgi_navleft__menu__sub{
        @apply hidden;
    }
    /* dropdown menu  */
    .mgi_nav__menu__dropdown, .mgi_nav__menu__dropdown__submenu__sub2{
        @apply hidden bg-neutrals-menu text-[#ffff];
    }
    .mgi_nav__menu__list:hover .mgi_nav__menu__dropdown{
        @apply block absolute top-full left-0 z-30;
    }
    .mgi_nav__menu__dropdown__submenu__list:hover .mgi_nav__menu__dropdown__submenu__sub2{
        @apply block absolute top-0 right-full z-auto;
    }
    .mgi_nav__menu__dropdown__list, .mgi_nav__menu__dropdown__submenu__list, .mgi_nav__menu__dropdown__list--sub li, .mgi_nav__menu__dropdown__submenu__sub2__list{
        @apply py-3 px-[15px] min-w-[200px] relative;
    }
    .mgi_nav__menu__dropdown__list.-haschild::after, .mgi_nav__menu__dropdown__submenu__list.-haschild::after{
        font-family: FontAwesome;
        content: '\f054';
        @apply font-normal absolute top-1/3 right-4;
    }
    /* Submenu */
    .mgi_nav__menu__dropdown__submenu{
        @apply hidden bg-neutrals-menu text-[#ffff];
    }
    .mgi_nav__menu__dropdown__list:hover .mgi_nav__menu__dropdown__submenu{
        @apply block absolute top-0 left-full z-auto;
    }
    /* Mega menu */
    .mgi_nav__menu__list:hover .mgi_nav__menu__dropdown.-mega-grid{
        @apply absolute top-full left-0 flex flex-row px-2.5 pt-5 pb-[15px];
    }
    .mgi_nav__menu__list:hover .mgi_nav__menu__dropdown.-mega-grid.-full{
        @apply grid grid-cols-4 top-full !left-0 !right-0 container mx-auto;
    }
    .mgi_nav__menu__dropdown__list--title{
        @apply px-[15px] pt-[5px] pb-[15px] font-extrabold block text-sm;
    }
    .mgi_nav__menu__dropdown__list--sub .mgi_menu--icon{
        @apply pr-2.5;
    }
    /* button */
    .mgi_button{
        @apply min-w-min block px-[37px] text-base font-semibold py-3 text-[#fff] bg-primary hover:bg-neutrals-darkest rounded-full duration-300 break-normal;
    }
    .mgi_button--footer{
        @apply min-w-min block px-[24px] text-sm font-normal py-2.5 text-[#fff] uppercase bg-primary hover:bg-[#333] duration-300;
    }
    .mgi_button.-square{
        @apply !rounded-none;
    }
    .mgi_button.-shopcart{
        @apply text-sm font-normal rounded-[4px] py-2 px-[22px];
        font-family: "Source Sans Pro", sans-serif;
    }
    .mgi_button.-round{
        @apply !rounded-md normal-case;
    }
    .mgi_button.-black
    {
        @apply bg-neutrals-darkest hover:bg-[#fff] hover:text-[#333];
    }
    .mgi_nav__function__button__list{
        @apply relative cursor-pointer;
    }
    /* search tool */
    .mgi_searchbar{
        @apply hidden;
    }
    .mgi_nav.-openToggle .mgi_searchbar{
        @apply relative desktop:absolute desktop:top-0 desktop:left-0 w-full flex flex-row justify-between bg-neutrals-darkest desktop:bg-opacity-0 transition-transform ease-linear duration-300;
    }
    .mgi_nav.-openToggle .mgi_nav__logo, .mgi_nav.-openToggle .mgi_nav__menu, .mgi_nav.-openToggle .mgi_nav__function__button, .mgi_nav.-openToggle .mgi_nav__toggle{
        @apply hidden transition-all ease-linear duration-300;
    }
    .mgi_searchbar .mgi_searchbar__icon{
        @apply block h-[60px] desktop:h-[80px] leading-[60px] desktop:leading-[80px] px-[15px];
    }
    .mgi_searchbar form{
        @apply flex-grow;
    }
    .mgi_searchbar input{
        font-family: "Source Sans Pro", sans-serif;
        @apply py-1.5 px-3 text-2xl font-normal w-full h-[60px] desktop:h-[80px] placeholder:text-2xl placeholder:text-gray-meta border-none bg-opacity-0;
    }
    header.-fixtop .mgi_nav.-openToggle .mgi_searchbar{
        @apply bg-opacity-0;
    }
    header.-fixtop .mgi_searchbar input, header.-fixtop .mgi_searchbar .mgi_searchbar__icon{
        @apply text-neutrals h-[65px] leading-[65px];
    }
    header.-fixtop .mgi_searchbar .mgi_searchbar__icon{
        @apply hover:text-primary;
    }
    /* Shop cart */
    .mgi_shopcart{
        @apply hidden;
    }
    .mgi_shopcart.-openToggle{
        @apply absolute top-full right-0 bg-neutrals-menu border border-neutrals-darkest flex flex-col min-w-[280px] p-[15px];
    }
    .mgi_shopcart__list{
        @apply flex flex-col pb-2.5 border-b border-b-gray-border;
    }
    .mgi_shopcart__item{
        @apply flex flex-row my-[3px] pt-[3px] pb-1.5 gap-x-[15px];
    }
    .mgi_shopcart__item__thumb img{
        @apply max-w-none w-[70px] h-[70px];
    }
    .mgi_shopcart__item__info a{
        @apply block;
    }
    .mgi_shopcart__item__info span{
        @apply block mt-[15px];
    }
    .mgi_btn__close.-shop{
        @apply w-5 h-5 rounded-full bg-[#d9534f] hover:bg-[#c9302c];
    }
    .mgi_shopcart__price__total{
        @apply text-sm font-normal;
    }
    .mgi_shopcart__price{
        @apply flex flex-row mt-[17px] mb-[5px] justify-between items-center;
    }
    .mgi_button.-shopcart i{
        @apply pr-2.5;
    }
    .mgi_shopcart__item__button{
        @apply self-center;
    }
    .mgi_shop__count{
        @apply block absolute text-xs top-1/4 right-0 w-4 h-4 leading-[16px] text-center bg-primary text-[#fff] rounded-full;
    }
    /* Mgi grid */
    .mgi_grid--1{
        @apply grid grid-cols-1 mx-[-15px];
    }
    .mgi_grid--2{
        @apply grid grid-cols-2 mx-[-15px];
    }
    .mgi_grid--3{
        @apply grid grid-cols-3 mx-[-15px];
    }
    .mgi_grid--4{
        @apply grid grid-cols-4 mx-[-15px];
    }
    .mgi_grid--7{
        @apply grid grid-cols-7 mx-[-15px];
    }
    .mgi_grid--12{
        @apply grid grid-cols-12 mx-[-15px];
    }
    .mgi_grid__col{
        @apply col-span-1;
    }
    .mgi_grid__col--2{
        @apply col-span-2;
    }
    .mgi_grid__col--8{
        @apply col-span-8;
    }
    .mgi_grid__col--4{
        @apply col-span-4;
    }
    .mgi_grid__col, .mgi_grid__col--4, .mgi_grid__col--2, .mgi_grid__col--8{
        @apply px-[15px];
    }
    .mgi_services__title{
        @apply text-[26px] font-light leading-[39px] text-center;
    }
    .mgi_hr::after{
        @apply content-[''] mt-4 block w-10 h-0.5 bg-primary mx-auto;
    }
    h5.mgi_hr::after{
        @apply !ml-0;
    }
    .mgi_card__item__icon{
        @apply leading-[60px] w-[60px] h-[60px] rounded-full bg-primary text-center mb-[15px];
    }
    
    .mgi_card__thumb{
        @apply pb-5;
    }
    .mgi_card__date{
        @apply text-[13px] text-gray-meta;
    }
    .mgi_feedback__item {
        @apply relative !pl-[60px] before:content-['"'] before:absolute before:top-8 before:left-0 before:text-[85px];
    }
    .mgi_feedback__item::before{
        font-family: "arial", sans-serif;
    }
    .mgi_feedback__item p{
        @apply text-xl font-light leading-7;
    }
    footer{
        @apply text-gray;
    }
    footer p{
        @apply break-words;
    }
    footer h5{
        @apply text-gray-lighter uppercase;
    }
    .mgi_feedback__item__bio{
        @apply text-[15px] text-gray-meta;
    }
    .mgi_list.-about li{
        @apply flex flex-row pb-1 items-center;
    }
    .mgi_list.-footer li{
        @apply w-1/2 float-left py-1;
    }
    .mgi_list.-footer{
        @apply after:content-[''] after:clear-both after:table before:after:content-[''] before:table;
    }
    .mgi_list.-copyright, .mgi_list.-social{
        @apply text-[13px] list-none flex flex-row;
    }
    .mgi_list.-copyright li, .mgi_list.-social li{
        @apply px-[10px];
    }
    
    .mgi_input__wrap{
        @apply flex flex-row;
    }
    .mgi_input--icon{
        @apply bg-primary py-1.5 px-3.5;
    }
    .mgi_contact{
        @apply flex flex-row pb-[10px] gap-x-[25px];
    }
    .mgi_banner__item__content__title{
        @apply text-5xl leading-[48px] desktop:text-[98px] desktop:leading-[98px] text-[#fff] font-black;
    }
    .mgi_banner__item__content__description{
        @apply hidden tablet:inline-block text-[#fff] text-lg text-center pb-[30px] leading-[30.6px];
    }
    /* Slide */
    .mgi_banner__slides.-full{
        @apply overflow-hidden;
    }
    .mgi_banner__slides.-full .mgi_banner__slides__wrap{
        @apply w-fit flex flex-row flex-nowrap transition-all duration-[3s] ease-in-out;
    }
    .mgi_banner__slides__item{
        @apply w-screen select-none;
        animation: moveright 2s;
    }
    /* .mgi_banner__slides__item.-moveright{
        animation: moveright 2s;
    }
    .mgi_banner__slides__item.-moveleft{
        animation: moveleft 2s;
    } */
    .mgi_banner__dots{
        @apply mx-auto py-3 absolute bottom-3.5 left-1/2 -translate-x-1/2;
    }

    .mgi_banner__dots__dot{
        @apply block w-[10px] h-[10px] leading-[10px] rounded-full bg-[#fff] cursor-pointer;
    }
    .mgi_banner__dots__dot:not(.-active){
        @apply opacity-60 hover:outline hover:outline-[#fff] hover:outline-offset-[5px] hover:outline-2  hover:opacity-100;
    }
    .mgi_banner__dots__dot.-active{
        @apply rounded-full outline outline-[#fff] outline-offset-[5px] outline-2;
    }
    .mgi_banner__arrow{
        @apply text-xs text-[#ffff] w-[30px] h-[30px] desktop:w-[50px] desktop:h-[50px] text-center leading-[30px] desktop:leading-[50px] bg-primary rounded-full transition-all duration-300;
    }
    
    .mgi_banner__arrow.-left{
        @apply absolute top-1/2 left-0 invisible opacity-0 hover:!opacity-50;
    }
    .mgi_banner__arrow.-right{
        @apply absolute top-1/2 right-0 invisible opacity-0 hover:!opacity-50;
    }
    .mgi_banner__slides:hover .mgi_banner__arrow.-left{
        @apply absolute top-1/2 left-5 visible cursor-pointer opacity-75 z-10;
    }
    .mgi_banner__slides:hover .mgi_banner__arrow.-right{
        @apply absolute top-1/2 right-5 visible cursor-pointer opacity-75 z-10;
    }
    .mgi_slides{
        @apply relative;
    }
    .mgi_slides__wrap{
        @apply mx-auto w-full overflow-hidden;
    }
    .mgi_slides__wrap .-feedback, .mgi_slides__wrap .-news, .mgi_slides__wrap .-project{
        @apply grid grid-flow-col mx-[-15px] gap-x-[30px];
    }
    .mgi_slides__arrows{
        @apply hidden;
    }
    .mgi_slides__arrow{
        @apply text-xl w-[50px] h-[50px] text-center leading-[50px] transition-all duration-300 cursor-pointer;
    }
    .mgi_slides__arrow.-left{
        @apply absolute top-1/2 -left-20 hover:text-primary;
    }
    .mgi_slides__arrow.-right{
        @apply absolute top-1/2 -right-20 hover:text-primary;
    }
    /* header fix top */
    header.-fixtop{
        @apply !fixed !h-[65px] top-0 z-50 bg-[#fff] drop-shadow-md transition-transform ease-in-out duration-500;
    }
    header.-fixtop .mgi_nav__logo .light{
        @apply hidden;
    }
    header.-fixtop .mgi_nav__logo .dark{
        @apply block;
    }
    header.-fixtop a.mgi_nav__menu__list--link{
        @apply text-neutrals h-[65px] leading-[65px] hover:text-primary;
    }
    header.-fixtop .mgi_nav__toggle{
        @apply text-neutrals-darkest;
    } 
    /* Slide animation */
    .slideinRight {
        animation: slideIn 1s forwards;
      }
       
    .slideinLeft {
        animation: slideIn 1s forwards;
    }
    @keyframes slideIn {
        100% {
            margin: 0;
        }
    }
    @keyframes slideOutLeft {
        100% {
            margin-left: -100%;
        }
    }
    /* .mgi_slide__item{
        @apply snap-always snap-start;
    } */
    .mgi_slides__item__thumb{
        @apply pb-5;
    }
    .mgi_slides__item.-center{
        @apply text-center;
    }
    .mgi_slides__animation.-feedback{
        animation: slide2 20s ease-out infinite 2s backwards;
    }
    .mgi_slides__animation.-news{
        animation: slide 20s ease-out infinite 2s backwards;
    }
    @keyframes slide2{
        0% {
            margin-left: 0px;
        }
        25% {
            margin-left: -393.333px;
        }
        50% {
            margin-left: -786.666px;
        }
        85% {
            margin-left: -1179.999px;
        }
        100% {
            margin-left: 0px;
        }
    }
    @keyframes slide{
        0% {
            margin-left: 0px;
        }
        25% {
            margin-left: -390px;
        }
        50% {
            margin-left: -780px;
        }
        85% {
            margin-left: -1170px;
        }
        100% {
            margin-left: 0px;
        }
    }
    /* Fading animation */
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    /* Translate animation */
    
    @keyframes moveright {
        from {transform: translateX(100%)}
        to {transform: translateX(0)}
    }@keyframes moveleft {
        from {transform: translateX(-100%)}
        to {transform: translateX(0)}
    }
    /* Scroll top */
    #scrolltop{
        @apply hidden;
    }
    #scrollTop.-show{
        @apply hidden desktop:block select-none fixed right-10 bottom-10 w-8 h-8 opacity-100 rounded-full bg-[#444444] text-gray-lightest text-xs text-center leading-8 hover:text-gray-lightest hover:bg-neutrals-darkest;
    }
    /* Choose device */
    .mgi_device{
        @apply hidden desktop:block bg-neutrals-darker text-sm text-gray-lighter min-h-max uppercase sticky top-0 left-0 z-50 w-full;
    }
    .mgi_device .mgi_device__icon{
        @apply pr-1;
    }
    .mgi_device .mgi_container{
        @apply flex flex-row justify-center;
    }
    
    .mgi_device__group input{
        @apply hidden;
    }
    .mgi_device__group.active{
        @apply bg-primary text-[#fff] font-semibold hover:bg-primary;
    }
    .mgi_device__group{
        @apply block py-2 px-5 cursor-pointer hover:bg-neutrals-darkest hover:text-[#fff] min-w-[120px] text-center;
    }
    .mgi_iframe{
        @apply block absolute top-0 desktop:top-9 left-0 right-0 bottom-0;
    }
    #mgiSite{
        @apply mx-auto;
    }
}
